body{
    background-color: black;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap:15px;
    height: 95vh;   
    border-radius: 20px;
    overflow: hidden;
}

.red, .purple, .black, .number, .green, .pink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: rgb(255, 0, 102);
    min-height: 35%;
    grid-row: 1/3;

    
  }
  
  .purple {
    background-color: rgb(153, 153, 245);
    grid-row: 1/3;
    grid-column: 3/4
  }
  
  .black {
    background-color: black;
    font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
    grid-row: 2/3;
    color: white;
  }
  
  .number {
    background-color: pink;
    font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  }

  .rower{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column: 1/4;
    gap:10px;
  }
  
  .green {
    background-color: rgb(109, 236, 156);
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;  
  }
  
  .pink {
    background-color: pink;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 75px;  
  font-style: normal;
  }

.pencil{
    width: 150px;
    
}

.eye{
    width: 150px;
}